<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=jvlserverlessstorage;AccountKey=7cFCuX66jcBfY7lpkx1vDYNeiBNn1B1Pk6kN4SMcMLN8L61DlA8+ywQ+8XXpv1sMekIjYfBraN7Ilu4k+sK+4g==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>